<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/visualia3/dist/style.css" rel="stylesheet" />
    <style>
      body {
        margin: 0;
        padding: 1em;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js",
          "visualia": "https://unpkg.com/visualia3/dist/visualia.js"
        }
      }
    </script>
    <script type="module">
      import { createApp, ref } from "vue";
      import { Visualia } from "visualia";
      const App = {
        setup() {
          const x = ref(0);
          return { x };
        },
        template: `
          <h1>ESM modules and Visualia</h1>
          <h2>Local state</h2>
          <v-slider v-model="x" />
          <br />
          <v-math>x = {{ x }}</v-math>
          <h2>Global state</h2>
          <v-slider v-model="v.x" />
          <br />
          <v-math>x = {{ v.x }}</v-math>
        `,
      };
      const app = createApp(App);
      app.use(Visualia);
      app.mount("#app");
    </script>
  </body>
</html>
